html,
body,
div {
  padding: 0;
  margin: 0;
}

div {
  width: 150px;
  height: 150px;
  background: #fff url('../img/sprite.png') no-repeat 0 0;
}

#frame-1 {
  background-position: 0 0;
}

#frame-2{
  background-position: -150px 0;
}

#frame-2 {
  background-position: -300px 0;
}

@keyframes first-strip{
  0% {
    background-position: 0 0;
  }
100% {
  background-position: -300px 0;
}

}

  div {
    animation:first-strip 1s steps(3);
    width: 100px;
    height: 100px;
    background-image: url('../img/sprite.png');
  }
