html,
body,

div {
  padding: 0;
  margin: 0;
}

div {
  width:450;
  height: 150vh;
  background: #FFFFFF url('https://c1.staticflickr.com/5/4145/5067859411_4f0b89e6a7_b.jpg') no-repeat fixed 0 0 / cover;
}

#frame-1 {
  background: #FFFFFF url('https://c1.staticflickr.com/5/4145/5067859411_4f0b89e6a7_b.jpg') no-repeat fixed 0 0 / cover;

}

#frame-2{
  background: #FFFFFF url('https://c1.staticflickr.com/5/4145/5067859411_4f0b89e6a7_b.jpg') no-repeat fixed 150 0 / cover;

}

#frame-2 {
  background: #FFFFFF url('https://c1.staticflickr.com/5/4145/5067859411_4f0b89e6a7_b.jpg') no-repeat fixed 450 0 / cover;

}
