html,
body,
div {
  padding: 0;
  margin: 0;
}

div {
  width: 450px;
  height: 150px;
  background: #fff url('https://www.flickr.com/photos/fisherkate/5067859411/sizes/q/') no-repeat fixed 0 0;
}

#frame-1 {
  background-position: 0px 0px;
}

#frame-2{
  background-position: 150px 0px;
}

#frame-2 {
  background-position: 450px 0px;
}
